*{
	box-sizing: border-box; /*the asterisk is used to select every element*/
}
body{
	margin: 30px 30px 100px;
	font-size: 1.5em;
	background-color: lightyellow;
}
hr{
	margin-bottom: 10px;
}

/*icons*/
.ico{
	margin-left: 17%;
}
i{
	margin: 0 20px;
	padding: 0 50px;
}
a#td{
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
}
#home{
	color: darkolivegreen;
}
#home:hover{
	opacity: 0.5;
	color: lawngreen;
}
#twitter{
	color: rgb(0, 221, 255);
}
#twitter:hover{
	color: rgba(0, 221, 255, 0.5);
}
#youtube{
	color: red;
}
#youtube:hover{
	opacity: 0.5;
}
#tiktok{
	color: black;
}
#tiktok:hover{
	color: #8d008d;
	opacity: 0.5;
}

h1{
	font-family: Algerian,serif;
	font-weight: 100;
	text-shadow: 5px 5px 5px indianred, 10px 10px 3px steelblue;
}

/*floating divs*/
div.box{
	background-color: darkred;
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 10px;
}
div.contain{
	border: 3px solid yellow;
	width: 1200px;
	height: 300px;
	margin: 20px 0 0 20px;
	display: flow-root; /*allows for elements that are floating to stay inside the div*/
}

/*overflowing content in div*/
div.overflow{
	height: 70px;
	width: 300px;
	border: 3px solid green;
	overflow: scroll;
	margin: 20px auto 20px;
}
div.overflow p{
	margin: 0;
}

/*pseudo-elements*/
h1::first-letter{
	font-style: italic;
	font-size: 1.5em;
}
.contain p::first-line{
	background-color: limegreen;
}
p::selection{
	color: green;
	background-color: lightgoldenrodyellow;
}
/*#fruit li::before{
	content: "✔";
}*/
#apple::after{
	content: "🍎";
}
#orange::after{
	content: "🍊";
}
#banana::after{
	content: "🍌";
}
#fruit li::marker{
	content: "✔";
	font-size: 1.2em;
	color: turquoise;
}

/*pagination*/
.pagination{
	text-align: center;
}
.pagination a{
	color: brown;
	text-decoration: none;
	padding: 8px 15px;
	display: inline-block;
}
.pagination a.active{
	font-weight: bold;
	background-color: lightseagreen;
	border-radius: 50%;
}
.pagination a:hover:not(.active){
	background-color: lightgrey;
	border-radius: 50%;
}

/*dropdown menu*/
.dropdown{
	display: inline-block;
}
.dropdown button{
	background-color: #c06767;
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px 15px;
	margin-top: 20px;
	font-size: 1.4em;
}
.dropdown a{
	padding: 10px 15px;
	text-decoration: none;
	color: purple;
	display: block;
}
.dropdown .content{
	display: none;
	min-width: 100px;
	background-color: lightskyblue;
	position: absolute;
	box-shadow: 2px 2px 5px black;
}
.dropdown:hover .content{
	display: block;
}
.dropdown:hover button{
	background-color: #801f1f;
}
.dropdown a:hover{
	background-color: steelblue;
}

/*creating navbar*/
.navbar ul{
	list-style-type: none; /*removes bullet from ul*/
	padding: 0;
	margin: 0;
	background-color: darkred;
	overflow: hidden;
}
.navbar a{
	color: whitesmoke;
	text-decoration: none;
	padding: 15px 70px;
	display: block;	
	text-align: center;
}
.navbar a:hover{
	background-color: red;
}
.navbar li{
	float: left;
}

/*aside,section and article*/
aside{
	width: 20%;
	float: left;
	padding: 10px;
}
aside li::marker{
	content: "✔";
	font-size: 1.2em;
	color: darkorange;
}	
section{
	width: 40%;
	float: left;
	padding: 10px;
}
article{
	width: 40%;
	float: left;
	padding: 10px;
}
article li::marker{
	content: "🚩";
}
/*media queries or responsive css...if width of device is below 600px*/
@media screen and (max-width: 600px) {
	aside, section, article{
		width: 100%;
	}
}

/*separator*/
.separate{
	height: 10px;
	width: 900px;
	margin: 0 auto;
	background-color: gold;
	display: block;
	clear: both;
	margin-bottom: 40px;
}

/*image gallery*/
.gallery{
	display: inline-block;
	margin: 5px;
	height: 225px;
	border: 1px solid grey;
}
.gallery .description{
	text-align: center;
	padding: 10px;
}
.gallery:hover{
	border: 2px solid red;
}
.gallery img{
	height: 100%;
	width: auto;
}

/*animation*/
.ball{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 45vh;
	margin-top: 30px;
	width: 500px;
	margin-left: 25%;
}
#ball{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	background-color: orange;
	animation: pulse 1s ease-in-out infinite;
	position: relative;
}
#ball p{
	position: absolute;
	top: 25%;
	left: 25%;
}
@keyframes pulse{
	0%{transform: scale(1);}
	50%{transform: scale(1.5);}
	100%{transform: scale(1);}
}

/*flexbox*/
.wrap{
	height: 90vh;
	width: 700px;
	margin-left: 320px;
	border: 5px solid black;
	display: flex;
	/*flex-direction: row;/*sorts how content should appear row or column or reverse of both(default is row)*/
	justify-content:space-around; /*used for setting elements wrt main(horizontal) axis*/
	align-items: start; /* sets elements wrt cross(vertical) axis */
	align-content: flex-start;
	flex-wrap: wrap;
	margin-top: 20px;
}
.boxx{
	width: 140px;
	height: 150px;
	text-align: center;
	border-radius: 15px;
	font-size: 5em;
	margin: 2px;
}
.boxx1{
	background-color: orangered;
}
.boxx2
{
	background-color: yellowgreen;
}.boxx3
{
	background-color: springgreen;
}.boxx4
{
	background-color: deepskyblue;
}

/*transform*/
.square{
	width: 250px;
	height: 250px;
	font-size: 8em;
	border: 2px solid turquoise;
	margin-top: 30px;
	text-align: center;
	box-shadow: 5px 5px 10px 10px powderblue;
	transform: scale(0.5);
}
#sq1{
	background-color: lawngreen;
	transform: translate(500px, -60px) rotateZ(45deg) scale(0.7);
}
#sq2{
	background-color: #f27da4;
	transform: translate(200px, -190px) rotateZ(-30deg) scale(0.9);
}
#sq3{
	background-color: #f2f250;
	transform: translate(563px, -234px) rotateX(180deg) rotateZ(-9deg);
}